.header {
    display: flex;
    justify-content: space-between;

    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 56px;
    left: 0;
    border-bottom: 1px solid #cccccc;

    z-index: 2;
}

/* LEFT SECTION */
.left-section {
    display: flex;
    justify-content: space-between;
}

.hamburger-menu-img {
    width: 24px;

    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo-img {
    width: 90px;
}


/* MIDDLE SECTION */
.mid-section {
    flex: 1;

    display: flex;
    align-items: center;

    max-width: 500px;

    margin-left: 64px;
    margin-right: 36px;
}

.search-bar-inp {
    flex: 1;
    width: 0;

    max-width: 350px;
    height: 36px;
    border: 1px solid #CCCCCC;

    font-size: 16px;
    padding-left: 16px;

    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;

    /* box-shadow: 1px 2px 3px rgba(0,0,0,0.1); */
}

.search-btn {
    width: 64px;
    height: 40px;
    background-color: #f7f7f7;
    border: 1px solid #CCCCCC;

    margin-left: -1px;
    margin-right: 8px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
}

.search-img {
    width: 24px;
}

.search-btn .tooltip {
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    
    position: absolute;
    bottom: -45px;
    right: 4px;

    opacity: 0;
    pointer-events: none;
}

.search-btn:hover .tooltip {
    opacity: 1;
}

.voice-search-btn {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #f7f7f7;
    border: none;
    position: relative;
}

.voice-search-img {
    width: 24px;
}

.voice-search-btn .tooltip {
    background-color: gray;
    color: white;
    width: 130px;
    padding: 4px 2px;
    border-radius: 4px;

    position: absolute;
    bottom: -45px;
    right: -46px;

    opacity: 0;
    pointer-events: none;
}

.voice-search-btn:hover .tooltip {
    opacity: 1;
}

/* RIGHT SECTION */
.right-section {
    width: 180px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* I like it despite the teacher doesn't show it like that. */
    /* flex-shrink: 0; */
}

.upload-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.upload-div .tooltip {
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    
    position: absolute;
    bottom: -52px;

    pointer-events: none;
    opacity: 0;
}

.upload-div:hover .tooltip {
    opacity: 1;
}

.upload-img {
    width: 24px;
}

.youtube-apps-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;    
}

.youtube-apps-img {
    width: 24px;
}

.youtube-apps-div .tooltip {
    background-color: gray;
    color: white;
    width: 80px;
    padding: 4px 8px;
    border-radius: 4px;
    
    position: absolute;
    bottom: -52px;

    pointer-events: none;
    opacity: 0;
}

.youtube-apps-div:hover .tooltip {
    opacity: 1;
}

.notif-div {
    position: relative;
    display: flex;
    flex-direction: columns;
    justify-content: center;
    align-items: center;
}

.notif-counter-div {
    display: flex;
    align-items: center;
}

.notif-img {
    width: 24px;
}

.notif-div .tooltip {
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;

    position: absolute;
    bottom: -52px;

    pointer-events: none;
    opacity: 0;
}

.notif-div:hover .tooltip {
    opacity: 1;
}


.notif-counter {
    background-color: #cc0000;
    color: white;
    font-size: 10px;
    position: absolute;
    top: -13px;
    right: -7px;
    padding: 2px 5px;
    border-radius: 12px;
    border: 2px solid white;
}

.my-channel-img {
    width: 28px;
    height: 28px;
    object-fit: cover;
    border-radius: 14px;

    margin-right: 24px;
}
